<form id="createPortfolio" class="hidden" action="/portfolios" method="post">
  <label for="name">New Portfolio Name: </label>
  <input type="text" name="name" placeholder="Portfolio Name">
  <input type="submit" value="Create">
</form>