<form class="updatePosition" action="/positions/:id" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="position[id]">
  <input type="text" name="position[portfolio_id]">
  <input type="text" name="position[stock_id]">
  <input type="text" name="position[quantity]">
  <input type="text" name="position[price]">
</form>

ID | PORTFOLIO_ID | STOCK_ID | QUANTITY | PRICE