<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="logo">Personalortfolio</h2>
      <br><br><br>
      <h4 class="text-center">Create and organize your very own portfolios here.</h4>
    </div>
  </div><!-- end row -->
  
</div>
